<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.test.designpattern23demo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/design"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".prototype_pattern.PrototyePatternActivity"/>
        <activity android:name=".factroy_pattern.FactroyPatternActivity"/>
        <activity android:name=".abstract_factory_pattern.AbstractFactroyPatternActivity"/>
    </application>

</manifest>